* {
    border: 1px solid red;
    padding: 8px;
    margin: 0;
}

.container {
    display: flex;
}

.container.vertical {
    flex-direction: column;
}
 .container.center {
    justify-content: center;
    align-items: center;
    gap: 8px;
 }

.text {
    text-align: center;
}